<div class="form-container">
  <h1 class="text-center">Create new polls</h1>
  <br />

  <form action="/polls" method="POST">
    <div class="form-group">
        <label>Question: </label>
        <input class="form-control" type="text" name="question">
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>
