<h1>Sign-Up</h1>
<form action="/signup" method="post">
    <label>First Name: </label>
    <input type="text" name="firstName" />
    <br />
    <label>Last Name: </label>
    <input type="text" name="lastName" />
    <br />
    <label>E-Mail: </label>
    <input type="email" name="email" />
    <br />
    <label>Password: </label>
    <input type="password" name="password" />
    <br />
    <input type="submit" />
    <br /> <br />
</form>
<a href="/polls">Home</a> 
<br />
<a href="/login">Login here</a>