<h1>Here are all the polls you can vote on: </h1>

{{#each allPolls }}
    <p>
    <a href="polls/{{ this.id }}">{{ this.question }}</a>
    <a href="polls/{{ this.id }}/edit">EDIT</a>
    <form method="POST" action="polls/{{ this.id }}?_method=DELETE"><button style="display:inline;"type="submit">DELETE</button></form>
    </p>
{{/each }}

<h1>Create a new poll:</h1>
<form action="/polls" method="post">
    <label>Question: </label>
    <input type="text" name="question" placeholder="Ex. What is your favorite..." /> <br />
    <label>Choice: </label>
    <input type="text" name="choice1" placeholder="Ex. Yes..." /> <br />
    <label>Choice: </label>
    <input type="text" name="choice2" placeholder="Ex. No..." /> <br />
    <label>Choice: </label>
    <input type="text" name="choice3" placeholder="Ex. Maybe..." /> <br />
    <label>Choice: </label>
    <input type="text" name="choice4" placeholder="Ex. Blue..." /> <br />
    <button type="submit">Submit</button>
</form>
<a href="/login">Login here</a>
<br />
<a href="/signup">Sign up here</a>
<br />
<a href="/logout">Logut</a>