<form method="POST" action="edit?_method=PUT">
    <h1>Edit Question:</h1>
    <input type="text" name="newQuestion" placeholder="Enter new question"/>
    <button type="submit">Update Question</button>
</form>